<header class="header">
  <div class="header-left">
    <button class="menu-btn" (click)="toggleSidebar.emit()">
      <app-icon name="menu" [size]="20"></app-icon>
    </button>
    <div class="breadcrumb">School Management System</div>
  </div>

  <div class="header-right">
    <div class="user-menu" (clickOutside)="showUserMenu = false">
      <button class="user-btn" (click)="toggleUserMenu()">
        <div class="avatar">{{ username[0]?.toUpperCase() }}</div>
        <span class="username">{{ username }}</span>
        <span class="chevron"><app-icon name="chevron-down" [size]="12"></app-icon></span>
      </button>

      @if (showUserMenu) {
        <div class="dropdown">
          <div class="dropdown-header">
            <div class="avatar large">{{ username[0]?.toUpperCase() }}</div>
            <div>
              <div class="dropdown-username">{{ username }}</div>
              <div class="dropdown-role">Administrator</div>
            </div>
          </div>
          <div class="dropdown-divider"></div>
          <button class="dropdown-item danger" (click)="logout()">
            <app-icon name="log-out" [size]="14"></app-icon> Sign Out
          </button>
        </div>
      }
    </div>
  </div>
</header>
